.avatar {
	position: relative;

	overflow: hidden;

	padding-top: 100%;

	background: url(circle.svg);
	background-repeat: no-repeat;
}

img {
	position: absolute;
	bottom: 0;
	left: 0;

	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 10%;

	border-radius: 100%;
}
